{% extends 'home.html' %}
{% block content %}
    <div class="container">
        <form action="/get_result/uploads" method="post">
            <div class="jumbotron">
                <form method="post">
                    <div class="row">
                        
                        <input type="checkbox" id="saveimage" name="saveimage"><label for="saveimage"> Do you agree to save your image for model improvments?</label>
                    </div>
                    <div class="row">
                        <input type="checkbox" id="terms" name="terms" onchange="document.getElementById('results').disabled = !this.checked;"><label for="terms"> I'm aware that the image uploaded is saved temporarily. </label>
                </form>
                <div class="row">
                    <button class="btn btn-outline-info btn-lg" id="results"> Get Results</button>
                </div>
            </div>
        </form>
    </div>
{% endblock %}
